@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Inter', sans-serif;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  width: 100%;
}
